@font-face {
  font-family: "Onest";
  src: url("../../public/fonts/OnestBold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Onest";
  src: url("../../public/fonts/OnestRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Onest";
  src: url("../../public/fonts/OnestMedium.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Onest";
  font-weight: normal;
}

.medium {
  font-weight: 500;
}

main {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

p, h1, h2, h3 {
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}